:root {
  --upper-text-color: #f46752;
  --header-color: #1d253c;
  --section-text-color: #5a6482;
  --button-text-color: #ffffff;
}

/* ================GENERAL================ */
/* body {
  font-family: "Roboto", sans-serif;
  color: var(--headings-herobackground-color);
  background-color: var(--background-color);
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

section,
header,
footer {
  background-color: #fff;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.18;
  text-align: center;
  color: var(--header-color);
}

.section-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
  color: var(--section-text-color);
}

.page-header > .container {
  max-width: 1320px;
}

.section-hero > .container,
.section-started > .container {
  max-width: 1440px;
}

footer > .container {
  max-width: 1130px;
}

.upper-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  color: var(--upper-text-color);
}

.btn-main {
  position: relative;
  min-width: 210px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  text-indent: -20px;
  text-transform: uppercase;
  color: var(--button-text-color);
  background-color: var(--upper-text-color);
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
}

.btn-main:is(:hover, :focus) {
  background-color: #e6381d;
}

.btn-arrow {
  position: absolute;
  top: 22px;
  right: 22px;
  fill: var(--button-text-color);
  height: 10px;
}

/* ================HEADER================ */

.page-header-container {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.page-nav .list {
  margin-left: 35px;
}

.menu-item + .menu-item {
  margin-left: 35px;
}

.menu-link {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--header-color);
}

.menu-link:is(:hover, :focus) {
  color: #007188;
  text-decoration: underline;
}

.nav-interactive {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-interactive .menu-link {
  padding-top: 43px;
  padding-bottom: 43px;
}

.btn-header {
  display: block;
  min-width: 161px;
  height: 44px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  margin-left: 31px;
  color: var(--header-color);
  background-color: #ffffff;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
}
/* ================SECTION HERO================ */
.section-hero {
  position: relative;
  height: 775px;
  max-width: 1440px;
  margin: 0 auto;
}

.section-hero .container {
  margin-left: 106px;

  padding-right: 0;
  padding-left: 0;
}
.section-hero .upper-text {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 210px;
}

h1 {
  max-width: 463px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.06;
  text-transform: capitalize;
  color: var(--header-color);
  max-width: 463px;
  margin-bottom: 26px;
}

.section-hero .section-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 410px;
}

.hero-pic {
  position: absolute;
  top: 0;
  right: 0;
}

/* ================SECTION PRICES================ */

.section-prices {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #f9f5f2;
}

.section-prices > .container {
  display: flex;
  position: relative;
}

.section-prices .menu-link {
  position: absolute;
  bottom: -40px;
  color: #5a6482;
}

.prices-span {
  color: var(--upper-text-color);
}

.prices-container {
  margin-left: 144px;
}

.prices-container > h2 {
  max-width: 439px;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 19px;
}

.prices-container > .section-text {
  max-width: 456px;
}

.get-link {
  display: inline-block;
  margin-top: 32px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #126f86;
}

.arrow-container-prices {
  position: relative;
}

.btn-arrow-prices {
  position: absolute;
  height: 10px;
  left: 120px;
  top: 40px;
  fill: #007189;
}

/* ================SECTION HELP================ */

.section-help {
  height: 100%;
  /* min-height: 822px; */
  padding-top: 148px;
  padding-bottom: 163px;
  text-align: left;
}

.section-help .container {
  /* position: relative; */
  display: flex;
  align-items: center;
}

.help-container {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.section-help h2 {
  text-align: left;
  font-weight: 500;
  margin-top: 27px;
  margin-bottom: 35px;
}

.section-help .section-text {
  max-width: 483px;
}

.section-help .get-link {
  margin-top: 15px;
}

.help-picture-container {
  position: relative;
}

.help-pic {
  margin-left: 75px;
  z-index: 20;
}

.human-help-pic {
  position: absolute;
  bottom: -50px;
  z-index: 30;
}

.arrow-container-help {
  position: relative;
}

.btn-arrow-help {
  position: absolute;
  height: 10px;
  left: 85px;
  top: 25px;
  fill: #007189;
}

/* ================SECTION RELIABILITY================ */

.section-reliability {
  background-color: #f8f8f8;
  text-align: center;
}

.section-reliability .upper-text {
  padding-top: 90px;
  margin-bottom: 30px;
}

.section-reliability h2 {
  margin-bottom: 37px;
}

.section-reliability .section-text {
  margin-bottom: 41px;
}

.reliability-images {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.container-reliability {
  position: relative;
}

.umbrella-pic {
  position: absolute;
  top: -105px;
  left: 323px;
}

.doggo-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.doggo {
  position: absolute;
  bottom: -30px;
  right: -140px;
}

/* ================SECTION APPLY================ */
.section-apply {
  background-color: #363839;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 101px;
}

.section-apply .upper-text {
  font-weight: 500;
}

.section-apply h2 {
  font-weight: 500;
  color: var(--button-text-color);
  margin-top: 26px;
  margin-bottom: 15px;
}

.section-apply .section-text {
  color: #acb4bf;
  margin-bottom: 150px;
  max-width: 713px;
  margin-left: auto;
  margin-right: auto;
}

.apply-list {
  display: flex;
  justify-content: space-around;
}

.apply-item {
  position: relative;
  width: 240px;
}
.section-apply h3 {
  margin-bottom: 8px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: var(--button-text-color);
}

.item-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #acb4bf;
}

.circle {
  position: absolute;
  top: -70px;
  left: 110px;
  z-index: 10;
}

.one {
  position: absolute;
  top: -85px;
  left: 95px;
  z-index: 20;
}

.two {
  position: absolute;
  top: -85px;
  left: 105px;
  z-index: 20;
}

.three {
  position: absolute;
  top: -85px;
  left: 95px;
  z-index: 20;
}

.container-dashed {
  position: relative;
}

.dashed {
  position: absolute;
  top: -75px;
  left: 170px;
  z-index: 5;
}

.confetti {
  position: absolute;
  top: -275px;
  right: -270px;
}

.section-apply .btn-main {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}

/* ================SECTION LEARNING================ */
.section-learning {
  background-color: #f9f5f2;
  padding-top: 113px;
  padding-bottom: 139px;
}

.container-learning {
  display: flex;
  position: relative;
}

.container-mom-child {
  position: relative;
}

.nerd-out {
  position: absolute;
  width: 307px;
  bottom: -50px;
  left: 250px;
}

.section-learning h2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-learning .section-text {
  margin-bottom: 18px;
}

.section-learning .get-link {
  margin-top: 0;
}

.learning-info {
  margin-left: 102px;
}

.arrow-container-learning {
  position: relative;
}

.btn-arrow-learning {
  position: absolute;
  height: 10px;
  left: 190px;
  top: 5px;
  fill: #007189;
}

/* ================SECTION GUIDE================ */
.section-guide {
  padding-top: 160px;
  padding-bottom: 132px;
}

.guide-list {
  display: flex;
}

.guide-header {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.24;
  text-align: left;
}

.guide-header-one {
  color: #7cafdd;
  margin-bottom: 65px;
}

.guide-header-two {
  color: #e79751;
  margin-bottom: 23px;
}

.guide-header-three {
  color: #fa5240;
  margin-bottom: 65px;
}

.guide-header-four {
  color: #126f85;
  margin-bottom: 23px;
}

.guide-item + .guide-item {
  margin-left: 20px;
}

.guide-item {
  width: 260px;
  height: 323px;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 22px;
  padding-right: 7px;
}

.guide-item-one {
  position: relative;
  background-color: rgba(169, 216, 255, 0.3);
}

.btn-arrow-one {
  position: absolute;
  bottom: 38px;
  right: 50px;
  fill: #6eb0e1;
  height: 9px;
}

.guide-item-two {
  position: relative;
  padding-right: 0;
  background-color: rgba(255, 174, 104, 0.3);
}

.btn-arrow-two {
  position: absolute;
  bottom: 38px;
  right: 80px;
  fill: #f4943f;
  height: 9px;
}

.guide-item-three {
  position: relative;
  background-color: rgba(250, 82, 64, 0.3);
}

.btn-arrow-three {
  position: absolute;
  bottom: 38px;
  right: 100px;
  fill: #ff3f31;
  height: 9px;
}

.guide-item-four {
  position: relative;
  background-color: rgba(18, 111, 133, 0.3);
}

.btn-arrow-four {
  position: absolute;
  bottom: 38px;
  right: 60px;
  fill: #007189;
  height: 9px;
}

.guide-item-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #5a6482;
  margin-bottom: 84px;
}

.guide-item-two > .guide-item-text {
  font-size: 15px;
}

.guide-link {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
}

.guide-link-one {
  color: #7cafdd;
}

.guide-link-two {
  color: #e79751;
  margin-bottom: 20px;
}

.guide-link-three {
  color: #fa5240;
  margin-bottom: 65px;
}

.guide-link-four {
  color: #126f85;
  margin-bottom: 20px;
}

/* ================SECTION GET STARTED================ */
.section-started {
  position: relative;
  padding-top: 106px;
  padding-bottom: 85px;
  text-align: center;
  background-color: #e5f3fe;
}

.section-started .section-text {
  color: #676562;
}

.man-umbrella-pic {
  position: absolute;
  bottom: 0px;
}

.boy-pic {
  position: absolute;
  bottom: 0px;
  right: 252px;
}

.section-started .section-text {
  margin-top: 8px;
  margin-bottom: 39px;
}

.section-started .btn-main {
  margin: 0 auto;
  font-weight: 400;
}

/* ================FOOTER================ */

.footer-text {
  margin-top: 33px;
  margin-bottom: 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.64;
  color: var(--section-text-color);
}

.footer-header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--header-color);
}

.footer-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--section-text-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 40px;
}

.footer-form {
  max-width: 320px;
}

.footer-email {
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 300px;
  height: 60px;
}

.form {
  position: relative;
}

.btn-subscribe {
  width: 84px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.64;
  text-align: left;
  padding-left: 19px;
  color: #ffffff;
  background-color: #126f85;
  border-radius: 0px 5px 5px 0px;
}

.btn-arrow-footer {
  position: absolute;
  top: 25px;
  right: 10px;
  display: inline-block;
  fill: #ffffff;
  max-height: 10px;
}

.social-list {
  display: flex;
  margin-top: 25px;
}

.social-list-item + .social-list-item {
  margin-left: 34px;
}

.footer-links {
  display: flex;
}

.footer-list-link + .footer-list-link {
  display: flex;
  margin-left: 210px;
}

.footer-magazine {
  margin-left: 100px;
  margin-right: 100px;
}

.footer-header {
  margin-bottom: 22px;
}

.footer-item + .footer-item {
  margin-top: 19px;
}

.footer-second {
  background-color: #f8f8f8;
}

.footer-second-container {
  display: flex;
  justify-content: space-between;
}

.footer-second-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--section-text-color);
}

.footer-second-button {
  padding: 13px 31px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  color: var(--header-color);
}
